.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.graph {
  display: flex;
  justify-content: center;
}

.space {
  padding-top: 50px;
}

.bottom-space {
  padding-bottom: 20px;
}

.motorSpeed {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
